<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"
              integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw="/>

        <script
           src="{{ url_for('static', filename= 'js/jquery-3.6.0.min.js') }}"
           integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=">
        </script>

        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        {% block content %} {% endblock %}
    </body>
</html>