{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>{% block title %} CYBERLUX cron manager {% endblock %}</h1>
    </div>

    <div class="col-md-6">
        <h2>Status</h2>

        <div>Server status: {{ status }}</div>
        <div>Number of threads: {{ thread_count }}</div>
        <div>Number of workers: {{ worker_count }}</div>
    </div>

    <div class="col-md-6">
        <h2>Action</h2>

        <button id="add_a_worker">
            Add a worker
        </button>
    </div>

    <div class="col-md-12">
        <h2>Modules</h2>

        <div id="modules">
        </div>
    </div>

    <div class="col-md-12">
        <h2>Log</h2>

        <div id="logs">
        </div>

        <button id="refresh_logs">
            Refresh
        </button>
    </div>
</div>

<script>
    var get_cron = function() {
        $.ajax({
            url: 'log/get_cron_log',
            type: 'GET',
            success: function(response) {
                var content = "";

                for (var i = 0; i < response.items.length; i++) {
                    content += "<div>" + response.items[i].request + "</div>";
                }

                $("#logs").html(content);
            },
            error: function(error){
                console.log(error);
            }
        });
    };

    var load_run_module_events = function() {
        $(".run_module").click(function() {
            $.ajax({
                url: 'module/run_module',
                type: 'POST',
                data: JSON.stringify({'module': $(this).attr("module")}),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    }

    $(document).ready(function() {
        $("#add_a_worker").click(function() {
            $.ajax({
                url: 'engine/add_worker',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error){
                    console.log(error);
                }
            });
        });

        $("#refresh_logs").click(function() {
            get_cron();
        });

        $.ajax({
            url: 'module/get_modules',
            type: 'GET',
            success: function(response) {
                var content = "";

                for (var i = 0; i < response.length; i++) {
                    content += "<div>" + response[i].class + "</div>";
                    content += "<div>" + response[i].cron + "</div>";
                    content += "<button class='run_module' module='" + response[i].class + "'>"
                        + "Run module"
                        + "</button>";
                }

                $("#modules").html(content);
                load_run_module_events();
            },
            error: function(error){
                console.log(error);
            }
        });
    });

    get_cron();
</script>

{% endblock %}